

@media (max-width: 1439.98px) {
    .header {
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: -80px 20px;
    }
      .cards {
        flex-direction: column;
    }
}

@media (max-width: 1023.98px){
    .header{
    background-size: 160% ;
    background-repeat: no-repeat;
    background-position: -117px 60px;
    }
    .future{
    // background-position: -480px 0;
    background-position: clamp(-31.25rem, -40.179rem + 44.64vw, 0rem) 0;
    &__line{
        max-width: 400px;
    }
}

}

@media (max-width: 767.98px) {
   .header{
    background-size: 200%;
    background-position: -145px 120px;
     &__title{
        max-width: 320px;
        line-height: 55px;
        font-size: 45px;
    }
    &__inner-buttons{
        flex-direction: column;
        gap: 30px;
    }
    &__button{
        width: max-content;
    }

   }
   .header__white-line{
    width: clamp(13.75rem, 4.375rem + 46.88vw, 26.875rem);
   }
   .future{
      &__line{
        max-width: 220px;
    }
   }
   .footer-container {
    padding: 0 0 40px 0;
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 25px;
      .footer__nav{
        width: 80%;
        justify-content: space-between;
      } 
      .footer__logo{
        width: 80%;
        justify-content: space-between;
      }
      .footer__rights{
        padding: 0;
        max-width: 150px;
      }
      .footer__nav-list{
        text-align: center;
      }

   }
}

@media (max-width: 599.98px) {
    .card{
        &__title{
            font-size: 31px;
            line-height: 28px;
            max-width: 270px;
        }
        &__white-line{
            min-width: 100px;
        }
    }
  .future__text{
        max-width: 240px;
  }
  .footer{
    &__input{
        width: 200px;
    }
    &__nav{
        justify-content: space-between;
    }
}
}

@media (max-width: 425.98px) {
    .header__nav-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        max-width: 300px;

        li {
            text-align: start;
            padding-left: 15px;
            width: max-content;
        }
    }

    .header__list-item {
        width: max-content;
        font-size: clamp(0.813rem, 0.784rem + 0.14vw, 0.875rem);
    }

    .header__nav-logo {
        width: 50px;
        align-items: center;
    }

}

@media (max-width: 424.98px) {
    .header{
        background-size: 250%;
        background-position: -200px 90px;
   }
   .card__img-wrapper {
       height: 370px;
   }
   .future__title{
    font-size: 31px;
    max-width: 200px;
    line-height: 38px;
   }
   .footer__nav-list {
    li{
       text-align: left;
    }
   }
   .footer__inner{
    // padding-left: 20px;
    // height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
   }
   .footer__nav{
    flex-direction: column;
    align-items: center;
    gap: 20px;
   }
   .footer__nav-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
   }
   .footer-container{
    gap: 20px;
   }
   .footer-info{
    width: max-content;
   }
}

@media (max-width: 374.98px) {
    .header{
        background-size: 240%;
        background-position: -149px 90px;
        &__title{
        max-width: 250px;
        line-height: 48px;
        font-size: 38px;
        }
   }
   .card__img-wrapper {
       height: 300px;
   }
    .future__text{
        max-width: 220px;
  }
   .future{
      &__line{
        max-width: 190px;
    }
   }
}