%h2{
    font-size: $fs-h2;
    color: #fff;
    font-family: Roboto;
    font-weight: 400;
    line-height: 48px;
}
%button{
    font-size: $fs-button;
    text-transform: uppercase;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        background-image: url(../images/arrow.svg);
        top: 0;
        right: -25px;
        width: 14px;
        height: 14px;
        scale: 1.1;
        transition: all .3s ease-out;
    }
    &:hover{
        &::after{
            right: -35px;
        }
    }
}
%nav-link {
    line-height: 20px;
    font-size: 14px;
    color: #FFF;
    text-transform: uppercase;
}